body.delilah {
    background-color: #021b01;
    background-image: url("./assets/image-from-rawpixel-id-6817078-original.png"); 
   }

/* TO KEEP THINGS IN ORDER AND I AM NEW TO THIS, ANYTHING FROM HERE TO THE BOTTOM IS FOR PAGE 2 "SNAKE GAME" */ 
   
body.game {
font-family: 'Courier New', Courier, monospace;  /* THIS IS JUST OUR FONT */
text-align: center;   /*  this will align everything to the center to make it look pretty lol */
background-color: rgb(81, 245, 6);

}

